* {
  margin: 0;
  padding: 0;
  border: 0;
}




body {
  font-family: "Nunito";

}

html, 
body {
    height: 100%;
}

nav {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.text-bolder {
  font-weight: 800;
}

.text-bold {
  font-weight: 600;
}

.text-normal {
  font-weight: 300;
}


.header-title {
  flex-grow: 1;
}

.header-text {
  padding: 30px;
}

.country-info{
    font-size: 14px;
    margin: 40px 0;
	padding-left: 10px;

}


.text-center{
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 50px;
  margin: 50px;
}

.flex-container{
  display: flex;
  justify-content: space-around ;
}


.search-card{
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 50px;
  margin: 50px;

}

.card-div {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-div > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.text-spacing{
    margin: 5px 0;
    
}
.country_name {
	padding-left: 10px;
	font-size: 20px;
	margin: 15px 0;
}


.margin-left-home{
  margin-left: 50px !important;
}


@media(min-width: 375px){
    .card {
         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      
      }
      
  }

  @media only screen and (min-width: 375px){

    .flex-container {
      display: block;
    }


  }