.back-button {
    border-radius: 6px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  
  .card-details {
      display: grid;
      grid-template-columns: 1.5fr 2fr 1fr !important;
      gap: 0 30px;
  }
  
  .card-details-img-div{
      width: 100%;
  }
  
  .card-details-img-div > img{
      width: 100%;
  }
  
  
  

  @media only screen and (max-width: 600px){

    .card-details {
      display: block;
     }



  }